/*---------------------------- Null ----------------------------*/
a,
a:visited,
a:hover {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*---------------------------- Variables ----------------------------*/
:root {
  --color-text: #434455;
  --color-footer-tx: #f4f4fd;
  --color-h-f: #404bbf;
}

/*---------------------------- Other ----------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  background-color: #ffffff;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/*---------------------------- General class ----------------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  color: #2e2f42;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.btn {
  display: block;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  min-width: 169px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------------------- Header ----------------------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation {
}
.header-logo {
  display: block;
  padding: 16px 0;
}
.header-logo-span {
  color: #2e2f42;
}
.header-menu-list {
  display: none;
}
.header-menu-item {
}
.header-menu-link {
}

.header-contacts {
  display: none;
}
.header-contacts-list {
}
.header-contacts-item {
}
.header-contacts-data {
}
/*--------------------------------------------------------*/
.header-menu-btn {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header-menu-btn span,
.header-menu-btn span::before,
.header-menu-btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: #2f2f37;
  border-radius: 5px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-btn span::before {
  content: '';
  top: -8px;
}
.header-menu-btn span::after {
  content: '';
  top: 8px;
}

.header-menu-btn.active {
  position: fixed;
  right: 50%;
  transform: translateX(723%);
}
.header-menu-btn.active span {
  height: 2px;
  transform: rotate(45deg);
}
.header-menu-btn.active span::before {
  height: 2px;
  top: 0;
  transform: rotate(0);
}
.header-menu-btn.active span::after {
  height: 2px;
  top: 0;
  transform: rotate(90deg);
}
/*--------------------------------------------------------*/
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.active {
  transform: translateX(0);
}
.mob-menu-wrapper {
  padding: 72px 0px 40px 0px;
  width: 280px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.mob-menu-item {
}
.mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mob-menu-link:hover,
.mob-menu-link:focus {
  color: var(--color-h-f);
}

.mob-contacts {
  margin-bottom: 48px;
}
.mob-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-contacts-item {
}
.mob-contacts-data {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mob-contacts-data:hover,
.mob-contacts-data:focus {
  color: var(--color-h-f);
}

.mob-current {
  color: var(--color-h-f);
}

.mob-soc-list {
  display: flex;
  gap: 24px;
}
.mob-soc-item {
  width: 40px;
  height: 40px;
}
.mob-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-soc-icon {
}
.mob-soc-link:hover,
.mob-soc-link:focus {
  background-color: var(--color-h-f);
}
.mob-soc-icon {
  fill: #f4f4fd;
}

/*---------------------------- Hero section 1 ----------------------------*/
.hero {
  padding: 72px 0;
  max-width: 320px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg/mob/Dark-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/mob/Dark-bg-mob-2x.jpg);
  }
}

.hero-container {
}
.hero-title {
  color: white;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  max-width: 200px;
  margin: 0 auto 72px auto;
}
.hero-btn {
  margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-h-f);
}

/*---------------------------- Advantages section 2 ----------------------------*/
.advantages {
  padding: 96px 0;
}
.advantages-title {
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.advantages-item {
}
.advantages-box-icon {
  display: none;
}
.advantages-icon {
}
.advantages-subtitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.advantages-text {
  font-weight: 500;
}

/*---------------------------- Team section 3 ----------------------------*/
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-img {
}
.team-description {
  padding: 32px 0;
}
.team-subtitle {
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-h-f);
}
.team-soc-icon {
  fill: #f4f4fd;
}

/*---------------------------- Portfoliov section 4 ----------------------------*/
.portfolio {
  padding: 96px 0;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-img-box {
  position: relative;
  overflow: hidden;
}
.portfolio-img {
}
.portfolio-img-content {
  position: absolute;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-img-content {
  transform: translateY(0%);
}
.portfolio-img-text {
  color: #f4f4fd;
}
.portfolio-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-text {
}

/*---------------------------- Footer ----------------------------*/
.footer {
  background-color: #2e2f42;
  padding: 96px 0px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 72px 24px;
}
.footer-content {
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  color: var(--color-footer-tx);
}

.footer-soc {
}
.footer-soc-title {
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
}
.footer-subscribe-title {
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}
.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-subscribe-label {
}
.footer-subscribe-input {
  width: 288px;
  height: 40px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0px 16px;
  outline: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-subscribe-input::placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  margin: 0 auto;
}
.footer-subscribe-btn:hover {
  background-color: var(--color-h-f);
}
.footer-subscribe-send {
  margin-left: 16px;
  fill: #ffffff;
}

/*---------------------------- Modal window ----------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-h-f);
  border: none;
}
.modal-close-btn:hover .modal-close,
.modal-close-btn:focus .modal-close {
  fill: #ffffff;
}
.modal-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}
.modal-form {
}
.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding: 0 10px 0 38px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid #4d5ae5;
}
.modal-input:focus + .modal-svg {
  fill: #4d5ae5;
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-field {
  margin-bottom: 16px;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.modal-comment:focus {
  border: 1px solid #4d5ae5;
}

.modal-cb-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.modal-cb {
}
.modal-cb-label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-cb-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.modal-cb:checked + .modal-cb-label .modal-cb-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-cb-svg {
}
.modal-cb-text {
}
.modal-cb-link {
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration-line: underline;
}
.modal-btn {
  margin: 0 auto;
}
.modal-btn:hover {
  background-color: var(--color-h-f);
}

/*---------------------------- Adaptive tablet ----------------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /*---------------------------- Header ----------------------------*/
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 0;
    margin-right: 120px;
  }
  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  .header-menu-link {
    display: block;
    color: #2e2f42;
    font-weight: 500;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--color-h-f);
  }
  .header-menu-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover::after {
    width: 100%;
  }
  /*---------------------*/
  .current {
    color: #404bbf;
  }
  .current::after {
    content: '';
    width: 100%;
  }
  /*---------------------*/
  .header-contacts {
    display: block;
  }
  .header-contacts-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 12px 40px;
  }
  .header-contacts-item {
  }
  .header-contacts-data {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts-data:hover,
  .header-contacts-data:focus {
    color: var(--color-h-f);
  }

  .header-menu-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }

  /*---------------------------- Hero section 1 ----------------------------*/
  .hero {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/tab/Dark-bg-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg/tab/Dark-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    max-width: 496px;
    margin: 0 auto 36px auto;
  }

  /*---------------------------- Advantages section 2 ----------------------------*/
  .advantages-list {
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-subtitle {
    text-align: start;
  }

  /*---------------------------- Team section 3 ----------------------------*/
  .team > .container {
    max-width: 552px;
    padding: 0;
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /*---------------------------- Portfoliov section 4 ----------------------------*/
  .portfolio-list {
    gap: 64px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /*---------------------------- Footer ----------------------------*/
  .footer > .container {
    max-width: 552px;
    padding: 0;
  }
  .footer-container {
    justify-content: start;
  }
  .footer-logo {
    text-align: start;
  }
  .footer-text {
    max-width: 264px;
  }

  .footer-soc-title {
    text-align: start;
  }

  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-subscribe-title {
    text-align: start;
  }
  .footer-subscribe-input {
    width: 264px;
  }

  /*---------------------------- Modal window ----------------------------*/
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 25px 24px 23px;
  }
}

/*---------------------------- Adaptive desktop ----------------------------*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /*---------------------------- Header ----------------------------*/
  .header-logo {
    margin-right: 76px;
  }
  .header-contacts-data {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /*---------------------------- Hero section 1 ----------------------------*/
  .hero {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/dec/Dark-bg-dec.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg/dec/Dark-bg-dec-2x.jpg);
    }
  }

  .hero-title {
    margin: 0 auto 48px auto;
  }

  /*---------------------------- Advantages section 2 ----------------------------*/
  .advantages {
    padding: 120px 0;
  }
  .advantages-list {
    row-gap: 72px;
  }
  .advantages-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .advantages-box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
  }
  .advantages-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .advantages-text {
    font-weight: 400;
  }

  /*---------------------------- Team section 3 ----------------------------*/
  .team > .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    row-gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }

  /*---------------------------- Portfoliov section 4 ----------------------------*/
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  /*---------------------------- Footer ----------------------------*/
  .footer > .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    gap: 0;
    justify-content: center;
  }
  .footer-logo {
    margin-bottom: 16px;
  }
  .footer-content {
    margin-right: 120px;
  }

  .footer-soc {
    margin-right: 80px;
  }

  /*---------------------------- Modal window ----------------------------*/
  .modal {
    padding: 72px 24px 24px 24px;
  }
}
